@import "src/styles/styles.color.scss";

.cart-empty {
    text-align: center;
    font-size: 25px;
    margin: 15px;
}

.button__continue {
    cursor: pointer;
    text-align: center;
    width: 200px;
    background-color: $color_primary-01;
    line-height: 55px;
}

.button__continue:hover {
    background-color: $color_primary-02;
}

.button__actions {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}