// primary colors
$color_primary-01: #2647b4;
$color_primary-02: #5cc5f3;
$color_primary-03: #f9eab0;

// secondary colors
$color_secondary-01: #fafafa;
$color_secondary-02: #3b1e72;
$color_secondary-03: #ff1865;
$color_secondary-04: #000000;
$color_secondary-05: #003d7d;
$color_secondary-06: #fffb00;
$color_secondary-07: #d3d3d3;